/*font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;*/

/* CSS HEX 
--british-racing-green: #003e1fff;
--russian-violet: #420039ff;
--mountbatten-pink: #9e7b9bff;
--champagne: #eee0cbff;
--lavender-blush: #fdecefff;*/


:root{
--lavender-blush: #fdecefff;
--british-racing-green: #003e1fff;
--russian-violet: #420039ff;
--mountbatten-pink: #9e7b9bff;
--champagne: #eee0cbff;
}


body {
  display: block;
  background-color: var(--lavender-blush);
  height: 100%;
  margin:0;

}


.hero{
    background-color: var(--mountbatten-pink);
    text-align: center;
    padding-top:75px;
   padding-bottom: 75px;
   margin-bottom: 75px;
   color: var(--lavender-blush);
}


.contact-button{
padding: 15px 10px;
background-color: var(--british-racing-green);
border-radius: 5px;
color: var(--lavender-blush);
margin:20px 30px 20px 30px;
text-decoration: none;
}

h1 {font-size: 96px;
        display:flex;
   justify-content: center;
  font-family: "Montserrat", sans-serif;
}
h2{
     display:flex;
   justify-content: center;
 font-family: 'Raleway', sans-serif;
 margin-bottom: 20px;
}

p {
  font-family: "Raleway", sans-serif;
}

.footer{
    background-color: var(--british-racing-green);
    color:var(--lavender-blush)
  
};

a.fab {
    color:var(--lavender-blush)

}

.row{
    margin-bottom: 40px;
    margin-top:40px;
}